<h1>Create Content</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form" id="createContentForm">
  <mat-form-field class="form-section">
    <mat-label for="contentId">Content Id: </mat-label>
    <input matInput type="number" id="contentId" formControlName="contentId" required>
  </mat-form-field>
  <mat-form-field class="form-section" >
    <mat-label for="contentAuthor">Content Author: </mat-label>
    <input matInput type="text" id="contentAuthor" formControlName="contentAuthor" required>
  </mat-form-field>
  <mat-form-field class="form-section">
    <mat-label for="contentImgUrl">Content Image: </mat-label>
    <input matInput type="text" id="contentImgUrl" formControlName="contentImgUrl" required>
  </mat-form-field>
  <mat-form-field class="form-section">
    <mat-label for="contentTitle">Content Title: </mat-label>
    <input matInput type="text" id="contentTitle" formControlName="contentTitle" required>
  </mat-form-field>
  <mat-form-field class="form-section">
    <mat-label for="contentTags">Content Tags: </mat-label>
    <input matInput type="text" id="contentTags" formControlName="contentTags">
  </mat-form-field>
  <mat-form-field class="form-section">
    <mat-label for="contentType">Content Type: </mat-label>
    <input matInput type="text" id="contentType" formControlName="contentType" required>
  </mat-form-field>
  <mat-form-field class="form-section">
    <mat-label for="contentBody">Content Body: </mat-label>
    <input matInput type="text" id="contentBody" formControlName="contentBody" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
  <p class="error" *ngIf="invalidForm">The Content failed to be added!</p>
</form>
