<h1>Create Content</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form" id="createContentForm">

  <div class="form-section">
    <label for="contentId">Content Id: </label>
    <input type="number" id="contentId" formControlName="contentId" required>
  </div>
  <div class="form-section">
    <label for="contentAuthor">Content Author: </label>
    <input type="text" id="contentAuthor" formControlName="contentId" required>
  </div>
  <div class="form-section">
    <label for="contentImgUrl">Content Image: </label>
    <input type="text" id="contentImgUrl" formControlName="contentImgUrl" required>
  </div>
  <div class="form-section">
    <label for="contentTitle">Content Title: </label>
    <input type="text" id="contentTitle" formControlName="contentTitle" required>
  </div>
  <div class="form-section">
    <label for="contentTags">Content Tags: </label>
    <input type="text" id="contentTags" formControlName="contentTags">
  </div>
  <div class="form-section">
    <label for="contentType">Content Type: </label>
    <input type="text" id="contentType" formControlName="contentType" required>
  </div>
  <div class="form-section">
    <label for="contentBody">Content Body: </label>
    <input type="text" id="contentBody" formControlName="contentBody" required>
  </div>
  <button type="submit">Submit</button>





</form>
