<div class="textAndButton">
  <input type="text" [(ngModel)]="title"/>
  <button (click)="validTitle(title)" >Check Title!</button>
  <p>{{validity}}</p>
</div>

<h1>Flower</h1>
<div class="div1" *ngFor='let content of contentList | filterType: "Flower"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">

    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>

      <p> Type: {{content.type}}</p>
      <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>

<h1>Butterfly</h1>
<div class="div2" *ngFor='let content of contentList | filterType: "Butterfly"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">
    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>

      <p> Type: {{content.type}}</p>
      <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>


<h1>Star Wars</h1>
<div class="div3" *ngFor='let content of contentList | filterType: "Star Wars"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">
    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>


      <p> Type: {{content.type}}</p>
      <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>
  </ul>


</div>

<ng-template #imageDefault>
  <img src="https://www.tibs.org.tw/images/default.jpg" width="250" height="250"/>
</ng-template>

