<div class="textAndButton">
  <input type="text" [(ngModel)]="title"/>
  <button (click)="validTitle(title)" >Check Title!</button>
  <p>{{validity}}</p>
</div>


<h1>Flower</h1>
<div class="div1" *ngFor='let content of contents | filterType: "Flower"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">

      <h1>{{content.title}}</h1>
      <h2>{{content.author}}</h2>
      <p>{{content.body}}</p>
      <p>Tags: {{content.tags}}</p>

      <p> Type: {{content.type}}</p>
      <br>
      <img src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>

<h1>Butterfly</h1>
<div class="div2" *ngFor='let content of contents | filterType: "Butterfly"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">
      <h1>{{content.title}}</h1>
      <h2>{{content.author}}</h2>
      <p>{{content.body}}</p>
      <p>Tags: {{content.tags}}</p>

      <p> Type: {{content.type}}</p>
      <br>
      <img src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>


<h1>Star Wars</h1>
<div class="div3" *ngFor='let content of contents | filterType: "Star Wars"; let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">
      <h1>{{content.title}}</h1>
      <h2>{{content.author}}</h2>
      <p>{{content.body}}</p>
      <p>Tags: {{content.tags}}</p>

      <p> Type: {{content.type}}</p>
      <br>
      <img src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>
  </ul>


</div>
<h1>Everything</h1>
<div class="div1" *ngFor='let content of contents let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">

    <h1  class="itemTitle"  id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <i>{{content.tags}}</i>

    <p> Type: {{content.type}}</p>
    <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>

<ng-template #imageDefault>
  <img src="https://www.tibs.org.tw/images/default.jpg" width="250" height="250"/>
</ng-template>

