.div1{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid cornflowerblue;
  text-align: center;
}
.div2{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px dotted seagreen;
  text-align: center;
}

.div3{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px dotted crimson;
  text-align: center;
}
.textAndButton{
  margin: auto;
  width: fit-content;
}

h2{
  margin-top: 0;
}
h1{
  text-align: center;
}
.itemTitle{
  display: inline-block;
  margin: auto;
  text-align: center;
}
ul{
  margin: auto;
  padding: unset;
}
i{
  all: unset;
}

/*.last-child{
  width: 500px;
  height: 500px;
  border: 2px solid black;
}*/
